body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  float: left;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

img {
  max-height: 20rem;
}

/**************** HERO *****************/

header img {
    max-height: 6rem;
    padding: 2em;
    margin: auto;
}

h1 .logo-w {
    font-size: 3.5rem;
    padding: 1.2em;
    margin: auto;
}

/**************** ASIDE ****************/

input[type="submit"] {
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

aside {
    width: 15em;
    padding: 1em;
    border: 1px solid blue;
    clear: both;
    float: right;
}

/*********** PRODUCTS SECTION ***********/

section {
  width: 20em;
  padding: 1em;
  border: .5em solid blue;
  float:left;
}

h2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}




